doctype html
html
  head
    title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/nm/angular-material/angular-material.css")
  body
    block content
    script(type="text/javascript", src="/nm/angular/angular.js")
    script(type="text/javascript", src="/nm/angular-material/angular-material.js")
    script(type="text/javascript", src="/nm/angular-animate/angular-animate.js")
    script(type="text/javascript", src="/nm/angular-aria/angular-aria.js")
    script(type="text/javascript", src="/nm/angular-messages/angular-messages.js")
    script(type="text/javascript", src="/nm/angular-material-icons/angular-material-icons.js")
    script(type="text/javascript", src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js")
    //- angular app
    script(type="text/javascript", src="/js/angular/app.js")
    //-  angular controllers
    //- angular factories

    