doctype html
html(ng-app="feedz")
	head
		title
		//- link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="/nm/angular-material/angular-material.css")
		link(rel="stylesheet", href="/css/login.css")
		link(rel="stylesheet", href="/css/register.css")
		link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css')
	body(layout='row', ng-controller='AppCtrl', ui-view="")
		script(type="text/javascript", src="/nm/angular/angular.js")
		script(src='//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js')
		script(type="text/javascript", src="/nm/angular-ui-router/release/angular-ui-router.js")
		script(type="text/javascript", src="/nm/angular-material/angular-material.js")
		script(type="text/javascript", src="/nm/angular-animate/angular-animate.js")
		script(type="text/javascript", src="/nm/angular-aria/angular-aria.js")
		script(type="text/javascript", src="/nm/angular-messages/angular-messages.js")
		script(type="text/javascript", src="/nm/angular-material-icons/angular-material-icons.js")
		script(type="text/javascript", src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js")
		script(type="text/javascript", src="/nm/angular-route/angular-route.js")
		//- angular app
		script(type="text/javascript", src="/js/angular/app.js")
		//- angular plugins
		script(type="text/javascript", src="/nm/angular-local-storage/src/angular-local-storage.js")
		//-  angular controllers
		script(type="text/javascript", src="/js/angular/controllers/appController.js")
		script(type="text/javascript", src="/js/angular/controllers/loginController.js")
		script(type="text/javascript", src="/js/angular/controllers/registerController.js")
		script(type="text/javascript", src="/js/angular/controllers/dashController.js")
		script(type="text/javascript", src="/js/angular/controllers/dashRootController.js")
		script(type="text/javascript", src="/js/angular/controllers/feedsController.js")
		script(type="text/javascript", src="/js/angular/controllers/AppCtrl.js")
		//- angular factories
		script(type="text/javascript", src="/js/angular/factories/userFactory.js")
		script(type="text/javascript", src="/js/angular/factories/localStorageFactory.js")
		//- angular templates
		script(type="text/ng-template", id="login.tmpl.html", src="/build/loginModal.html")
