doctype html
html(ng-app="feedz")
  head
    title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/nm/angular-material/angular-material.css")
    link(rel="stylesheet", href="/nm/materialize-css/dist/css/materialize.min.css")
  body.md-no-animations(layout='column', ng-app='feedz', ng-controller='appController', ng-cloak='')
    header
      md-toolbar(layout='row',  md-whiteframe='4')
        .md-toolbar-tools
          h2 feedz
          span.flex
          md-button About
          md-button Courses
          md-button(ng-click='showLogin();') Login
    main(ui-view="")  
    footer
      md-toolbar.md-medium-tall
        div(layout='row', layout-align='center center', flex='')
          span FOOTER



    script(type="text/javascript", src="/nm/angular/angular.js")
    script(type="text/javascript", src="/nm/angular-ui-router/release/angular-ui-router.js")
    script(type="text/javascript", src="/nm/angular-material/angular-material.js")
    script(type="text/javascript", src="/nm/angular-animate/angular-animate.js")
    script(type="text/javascript", src="/nm/angular-aria/angular-aria.js")
    script(type="text/javascript", src="/nm/angular-messages/angular-messages.js")
    script(type="text/javascript", src="/nm/angular-material-icons/angular-material-icons.js")
    script(type="text/javascript", src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js")
    //- angular app
    script(type="text/javascript", src="/js/angular/app.js")
    //-  angular controllers
    script(type="text/javascript", src="/js/angular/controllers/appController.js")
    script(type="text/javascript", src="/js/angular/controllers/loginController.js")
    script(type="text/javascript", src="/js/angular/controllers/registerController.js")
    script(type="text/javascript", src="/js/angular/controllers/dashController.js")
    script(type="text/javascript", src="/js/angular/controllers/feedsController.js")

    //- angular factories
    script(type="text/javascript", src="/js/angular/factories/userFactory.js")
    //- angular templates
    script(type="text/ng-template", id="login.tmpl.html", src="/build/loginModal.html")

    