#register-v2(layout='row', layout-align='start')
  #register-v2-intro(flex='', hide='', show-gt-sm='')
    .logo.md-accent-bg
      span FEEDZ.
    .title(translate='REGISTER_V2.INTRO_TITLE')
    .description(translate='REGISTER_V2.INTRO_DESCRIPTION')
  #register-v2-form-wrapper.flex-scrollable.md-whiteframe-8dp(layout='column', flex='', ms-scroll='')
    #register-v2-form
      .logo.md-accent-bg(hide-gt-sm='')
        span FEEDZ.
      .title(translate='REGISTER_V2.TITLE') Create a Feedz account
      .description(translate='REGISTER_V2.DESCRIPTION')
      form(name='registerForm', novalidate='', ng-submit="registerSubmit()")
        md-input-container.md-block(md-no-float='')
          input(name='username', ng-model='user.username', placeholder='Name', translate='', translate-attr-placeholder='REGISTER_V2.NAME', required='')
          div(ng-messages='registerForm.username.$error', role='alert')
            div(ng-message='required')
              span(translate='REGISTER_V2.ERRORS.USERNAME_REQUIRED') Username field is required
        md-input-container.md-block(md-no-float='')
          input(type='email', name='email', ng-model='user.email', placeholder='Email', translate='', translate-attr-placeholder='REGISTER_V2.EMAIL', ng-pattern='/^.+@.+\..+$/', required='')
          div(ng-messages='registerForm.email.$error', role='alert', multiple='')
            div(ng-message='required')
              span(translate='REGISTER_V2.ERRORS.EMAIL_REQUIRED') Email field is required
            div(ng-message='pattern')
              span(translate='REGISTER_V2.ERRORS.EMAIL_MUST_VALID') Email must be a valid e-mail address
        md-input-container.md-block(md-no-float='')
          input(type='password', name='password', ng-model='user.password', placeholder='Password', translate='', translate-attr-placeholder='REGISTER_V2.PASSWORD', required='')
          div(ng-messages='registerForm.password.$error', role='alert')
            div(ng-message='required')
              span(translate='REGISTER_V2.ERRORS.PASSWORD_REQUIRED') Password field is required
        md-input-container.md-block(md-no-float='')
          input(type='password', name='passwordConfirm', ng-model='user.passwordConfirm', placeholder='Password (Confirm)', translate='', translate-attr-placeholder='REGISTER_V2.PASSWORD_CONFIRM', required='')
          div(ng-messages='registerForm.passwordConfirm.$error', role='alert')
            div(ng-message='required')
              span(translate='REGISTER_V2.ERRORS.PASSWORD_CONFIRM_REQUIRED') Password (Confirm) field is required
          div(layout='column', layout-align='start center')
            md-button.md-raised.indigo.white-text(type="submit") Register
      .login(layout='row', layout-sm='column', layout-align='center center')
        span.text(translate='REGISTER_V2.ALREADY_HAVE') Already have an account?
        a.link(ui-sref='login', translate='REGISTER_V2.LOGIN') Log in
