
#login-v2(layout='row', layout-align='start')
  #login-v2-intro(flex='', hide='', show-gt-sm='')
    .logo.md-accent-bg
      span F
    .title(translate='LOGIN_V2.INTRO_TITLE') title here
    .description(translate='LOGIN_V2.INTRO_DESCRIPTION') intro here
  #login-v2-form-wrapper.flex-scrollable.md-whiteframe-8dp(ms-scroll='')
    #login-v2-form
      .title(translate='LOGIN_V2.TITLE') Please Login to Feedz
      form(name='loginForm', novalidate='', ng-submit="login()")
        md-input-container.md-block(md-no-float='')
          input(type='text', name='username', ng-model='user.username', placeholder='username', translate='', translate-attr-placeholder='LOGIN_V2.username', required='')
          div(ng-messages='loginForm.email.$error', role='alert', multiple='')
            div(ng-message='required')
              span(translate='LOGIN_V2.ERRORS.EMAIL_REQUIRED') Email field is required
            div(ng-message='pattern')
              span(translate='LOGIN_V2.ERRORS.EMAIL_MUST_VALID') Email must be a valid e-mail address
        md-input-container.md-block(md-no-float='')
          input(type='password', name='password', ng-model='user.password', placeholder='Password', translate='', translate-attr-placeholder='LOGIN_V2.PASSWORD', required='')
          div(ng-messages='loginForm.password.$error', role='alert')
            div(ng-message='required')
              span(translate='LOGIN_V2.ERRORS.PASSWORD_REQUIRED') Password field is required
          div(layout='column', layout-align='start center')
            md-button.md-raised.indigo.white-text(type="submit") Login
      //- .separator
      //-   span.text(translate='LOGIN_V2.OR') OR
      //- div(layout='column', layout-align='start center')
      //-   md-button.md-raised.google
      //-   div(layout='row', layout-align='center center')
      //-       span
      //-         md-icon.s16(md-font-icon='icon-google-plus')
      //-         span(translate='LOGIN_V2.WITH_GOOGLE') Log in with Google
      //-   md-button.md-raised.facebook
      //-     div(layout='row', layout-align='center center')
      //-       span
      //-         md-icon.s16(md-font-icon='icon-facebook')
      //-         span(translate='LOGIN_V2.WITH_FACEBOOK') Log in with Facebook
      .register(layout='row', layout-sm='column', layout-align='center center')
        div.text(translate='LOGIN_V2.DONT_HAVE_ACCOUNT') Don&apos;t have an account?
      .register(layout='row', layout-sm='column', layout-align='center center')
        a.link(ui-sref='register', translate='LOGIN_V2.CREATE_ACCOUNT') Register Now
