#login-v2 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("/images/march.jpg") no-repeat;
  background-size: cover;
}
#login-v2 #login-v2-intro {
  padding: 128px;
}
#login-v2 #login-v2-intro .logo {
  width: 128px;
  height: 128px;
  line-height: 128px;
  font-size: 86px;
  font-weight: 500;
  margin-bottom: 32px;
  color: black;
  border-radius: 2px;
  text-align: center;
}
#login-v2 #login-v2-intro .title {
  font-size: 42px;
  font-weight: 300;
}
#login-v2 #login-v2-intro .description {
  padding-top: 8px;
  font-size: 14px;
  max-width: 600px;
}
#login-v2 #login-v2-form-wrapper {
  width: 416px;
  min-width: 416px;
  max-width: 416px;
  height: 100%;
  background: #FFFFFF;
}
#login-v2 #login-v2-form-wrapper #login-v2-form {
  padding: 128px 48px 48px 48px;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .logo {
  width: 128px;
  height: 128px;
  line-height: 128px;
  font-size: 86px;
  font-weight: 500;
  margin: 32px auto;
  color: #FFFFFF;
  border-radius: 2px;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .title {
  font-size: 21px;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .description {
  padding-top: 8px;
}
#login-v2 #login-v2-form-wrapper #login-v2-form form {
  width: 100%;
  text-align: left;
  padding-top: 32px;
}
#login-v2 #login-v2-form-wrapper #login-v2-form form md-checkbox {
  margin: 0;
}
#login-v2 #login-v2-form-wrapper #login-v2-form form .remember-forgot-password {
  font-size: 13px;
  margin-top: 8px;
}
#login-v2 #login-v2-form-wrapper #login-v2-form form .remember-forgot-password .remember-me {
  margin-bottom: 16px;
}
#login-v2 #login-v2-form-wrapper #login-v2-form form .remember-forgot-password .forgot-password {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 16px;
}
#login-v2 #login-v2-form-wrapper #login-v2-form form .submit-button {
  width: 100%;
  margin: 16px auto;
  display: block;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .separator {
  font-size: 15px;
  font-weight: 600;
  margin: 24px auto 16px auto;
  position: relative;
  overflow: hidden;
  width: 100px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
#login-v2 #login-v2-form-wrapper #login-v2-form .separator .text {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  padding: 0 8px;
  z-index: 9999;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .separator .text:before, #login-v2 #login-v2-form-wrapper #login-v2-form .separator .text:after {
  content: '';
  display: block;
  width: 30px;
  position: absolute;
  top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
#login-v2 #login-v2-form-wrapper #login-v2-form .separator .text:before {
  right: 100%;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .separator .text:after {
  left: 100%;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .md-button.google, #login-v2 #login-v2-form-wrapper #login-v2-form .md-button.facebook {
  width: 70%;
  text-transform: none;
  color: #FFFFFF;
  font-size: 13px;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .md-button.google md-icon, #login-v2 #login-v2-form-wrapper #login-v2-form .md-button.facebook md-icon {
  color: #FFFFFF;
  margin: 0 8px 0 0;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .md-button.google {
  background-color: #D73D32;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .md-button.facebook {
  background-color: #3f5c9a;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .register {
  margin: 32px auto 24px auto;
  width: 250px;
  font-weight: 500;
}
#login-v2 #login-v2-form-wrapper #login-v2-form .register .text {
  margin-right: 8px;
}

@media screen and (max-width: 300px) {
  #login-v2 #login-v2-form-wrapper {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  #login-v2 #login-v2-form-wrapper #login-v2-form {
    text-align: center;
    padding: 24px;
  }
  #login-v2 #login-v2-form-wrapper #login-v2-form .md-button.google, #login-v2 #login-v2-form-wrapper #login-v2-form .md-button.facebook {
    width: 80%;
  }
}
