body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
md-no-animations,
md-dialog.md-transition-in,
md-dialog.md-transition-out,
{
  transform : none !important;
}

large-Modal .modal-dialog{
  width:400px; height: 400px;
  position: absolute;
  top:0; bottom: 0; left: 0; right: 0;
  margin: auto
}

md-toolbar {

  img {
    height:49px;
    margin-top:5px;
    margin-left:10px;
  }
}

md-dialog {
  min-width:400px;
  form {
     padding:15px;
     margin-top:30px;
  }
}

md-input-container {
  .md-input-messages-animation {
    max-width:300px;
  }

  &:not(.md-input-invalid) {
    md-icon {
      &.email {  color : green;  }
      &.name, &.phone {  color : dodgerblue;  }
    }
  }

  &.md-input-invalid {
     md-icon {
      &.name, &.email, &.phone {  color : red;  }
    }
  }

}

#login_title {
  color: #eee
}
$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}

.banner_gradient {
    background: #673AB7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #673AB7 , #00BCD4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #673AB7 , #00BCD4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
