form(name='userForm' ng-submit="createNewPost()")
  md-dialog.modal-wide(aria-label='Mango (Fruit)')
    md-content.md-padding
      h2  Now adding a new Post.
      div(layout='', layout-sm='column')
      md-input-container(flex='')
        label Comment Title
        input(ng-model='comment.comment_content')
      
    .md-actions(layout='row')
      span(flex='')
      md-button(ng-click="answer(\'not useful\')")  Cancel
      md-button.md-primary(type="submit")  Save
