md-dialog(aria-label='Mango (Fruit)')
  md-content.md-padding
    form(name='userForm')
      div(layout='', layout-sm='column')
        md-input-container(flex='')
          label First Name
          input(ng-model='user.firstName', placeholder='this is some text here')
        md-input-container(flex='')
          label Last Name
          input(ng-model='theMax')
      md-input-container(flex='')
        label Address
        input(ng-model='user.address')
      div(layout='', layout-sm='column')
        md-input-container(flex='')
          label City
          input(ng-model='user.city')
        md-input-container(flex='')
          label State
          input(ng-model='user.state')
        md-input-container(flex='')
          label Postal Code
          input(ng-model='user.postalCode')
      md-input-container(flex='')
        label Biography
        textarea(ng-model='user.biography', columns='1', md-maxlength='150')
  .md-actions(layout='row')
    span(flex='')
    md-button(ng-click="answer(\'not useful\')")  Cancel
    md-button.md-primary(ng-click="createNewSubFeed()")  Save
