md-dialog(aria-label='Mango (Fruit)')
  md-content.md-padding
    h2 Now Adding a New Sub Feed
    form(name='userForm')
      md-input-container(flex='')
        label Sub Feed Title
        input(ng-model='subfeed.title')
      div(layout='', layout-sm='column')
        md-input-container(flex='')
          label Sub Feed Indentifier ( ex. /f/yourId )
          input(ng-model='user.city')

      md-input-container(flex='')
        label Biography
        textarea(ng-model='user.biography', columns='1', md-maxlength='150')
  .md-actions(layout='row')
    span(flex='')
    md-button(ng-click="answer(\'not useful\')")  Cancel
    md-button.md-primary(ng-click="answer(\'useful\')")  Save
